/* CSS Document */

.contents {
  display: none;
}
.clan_rank_and_decorations-rank-image {
  padding-left: 5px;
}
.clan_rank_and_decorations-side-by-side {
  background-color: rgba(0, 0, 0, .0);
}
.clantastic {
  font-size: 12px;
  padding: 5px;
  position: absolute;
  z-index: 100000;
}
.clan_rank_and_decorations-inner {
  background-color: black;
  color: white;
  max-width: 400px;
  min-width: 400px;
  padding: 5px 8px 4px 8px;
  text-align: left;
}
.clan_rank_and_decorations-inner {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.clan_rank_and_decorations-arrow {
  background: url('../images/arrow.gif') no-repeat top left;
  height: 5px;
  position: absolute;
  width: 9px;
}
.clan_rank_and_decorations-n .clan_rank_and_decorations-arrow {
  left: 50%;
  margin-left: -4px;
  top: 0;
}
.clan_rank_and_decorations-nw .clan_rank_and_decorations-arrow {
  left: 10px;
  top: 0;
}
.clan_rank_and_decorations-ne .clan_rank_and_decorations-arrow {
  right: 10px;
  top: 0;
}
.clan_rank_and_decorations-s .clan_rank_and_decorations-arrow {
  left: 50%;
  margin-left: -4px;
}
.clan_rank_and_decorations-sw .clan_rank_and_decorations-arrow {
  background-position: bottom left;
  bottom: 0px;
  left: 10px;
}
.clan_rank_and_decorations-se .clan_rank_and_decorations-arrow {
  right: 10px;
}
.clan_rank_and_decorations-e .clan_rank_and_decorations-arrow {
  background-position: top right;
  height: 9px;
  margin-top: -4px;
  right: 0;
  top: 50%;
  width: 5px;
}
.clan_rank_and_decorations-w .clan_rank_and_decorations-arrow {
  height: 9px;
  left: 0;
  margin-top: -4px;
  top: 50%;
  width: 5px;
}
